$color-text: #333333; 
$color-text-gold: #c89d28;

$color-bg-1: #f8f8f8;
$color-bg-2: #f4f0eb;
$color-bg-button: #e5e1e1;
$color-bg-3: #e8e9ea;
$color-bg-4: #0d0d0d;


$black: #000000;
$white: #ffffff;